USE [master]
GO
/****** Object:  Database [DB_ULTRAMEDICA]    Script Date: 01/23/2014 20:57:59 ******/
CREATE DATABASE [DB_ULTRAMEDICA] ON  PRIMARY 
( NAME = N'DB_ULTRAMEDICA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\DB_ULTRAMEDICA.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DB_ULTRAMEDICA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\DB_ULTRAMEDICA_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_ULTRAMEDICA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_ULTRAMEDICA]
GO
/****** Object:  Table [dbo].[ULTRAEMPLOYEE]    Script Date: 01/23/2014 20:57:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ULTRAEMPLOYEE](
	[NIK] [varchar](15) NOT NULL,
	[NAMA] [varchar](30) NULL,
	[POSISI] [varchar](30) NULL,
	[ADMINISTRATOR] [bit] NULL,
 CONSTRAINT [PK_TBL_R_ULTRAEMPLOYEE] PRIMARY KEY CLUSTERED 
(
	[NIK] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[COMPANY]    Script Date: 01/23/2014 20:57:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COMPANY](
	[COMPANY_ID] [int] IDENTITY(1,1) NOT NULL,
	[COMPANY_NAME] [varchar](50) NULL,
	[COMPANY_STATUS] [bit] NOT NULL,
 CONSTRAINT [PK_TBL_R_COMPANY] PRIMARY KEY CLUSTERED 
(
	[COMPANY_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ROLE]    Script Date: 01/23/2014 20:57:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ROLE](
	[ROLE_ID] [int] IDENTITY(1,1) NOT NULL,
	[ROLE_NAME] [varchar](50) NULL,
 CONSTRAINT [PK_TBL_R_ROLE] PRIMARY KEY CLUSTERED 
(
	[ROLE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USER]    Script Date: 01/23/2014 20:57:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USER](
	[NIK] [varchar](15) NOT NULL,
	[ROLE_ID] [int] NOT NULL,
 CONSTRAINT [PK_TBL_R_USER] PRIMARY KEY CLUSTERED 
(
	[NIK] ASC,
	[ROLE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 01/23/2014 20:57:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[EMPLOYEE_ID] [int] IDENTITY(1,1) NOT NULL,
	[NRP] [varchar](50) NULL,
	[NAME] [varchar](50) NULL,
	[SEX] [varchar](1) NULL,
	[AGE] [int] NULL,
	[MESS_STATUS] [bit] NULL,
	[POSITION] [varchar](50) NULL,
	[DISTRICT] [varchar](50) NOT NULL,
	[DEPARTMENT] [varchar](30) NULL,
	[COMPANY_ID] [int] NOT NULL,
	[STATUS] [bit] NOT NULL,
 CONSTRAINT [PK_TBL_R_FO_1] PRIMARY KEY CLUSTERED 
(
	[EMPLOYEE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FO]    Script Date: 01/23/2014 20:57:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FO](
	[LAB_ID] [int] NOT NULL,
	[EMPLOYEE_ID] [int] NOT NULL,
	[YEAR_CHECKUP] [int] NOT NULL,
	[DATE] [date] NULL,
 CONSTRAINT [PK_TBL_T_FO_2] PRIMARY KEY CLUSTERED 
(
	[LAB_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LABS]    Script Date: 01/23/2014 20:57:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LABS](
	[LABORATORIUM_ID] [int] IDENTITY(1,1) NOT NULL,
	[LAB_ID] [int] NOT NULL,
	[HB] [decimal](18, 1) NULL,
	[HCT] [int] NULL,
	[LEUKOSIT] [int] NULL,
	[TROMBOSIT] [int] NULL,
	[ERITROSIT] [decimal](18, 1) NULL,
	[LED] [int] NULL,
	[DIFLIM] [int] NULL,
	[DIFMON] [int] NULL,
	[DIFGRAN] [int] NULL,
	[HBSAG] [bit] NULL,
	[AHBS] [int] NULL,
	[VDRL] [int] NULL,
	[CHOLESTEROL] [int] NULL,
	[TRIGLISERIN] [int] NULL,
	[HDL] [int] NULL,
	[LDL] [int] NULL,
	[BUN] [decimal](18, 1) NULL,
	[CREATINE] [decimal](18, 1) NULL,
	[UA] [decimal](18, 0) NULL,
	[BSN] [int] NULL,
	[2JPP] [int] NULL,
	[OT] [int] NULL,
	[PT] [int] NULL,
	[REDUKSI_PUASA] [bit] NULL,
	[REDUKSI_2JPP] [bit] NULL,
	[WARNA_URINE] [varchar](20) NULL,
	[BJ] [int] NULL,
	[PH] [int] NULL,
	[KETON] [bit] NULL,
	[BIL] [bit] NULL,
	[NITRIT] [bit] NULL,
	[EPITEL] [int] NULL,
	[URINE_LEKOSIT] [int] NULL,
	[URINE_ERITROSIT] [int] NULL,
	[BAKTERI] [bit] NULL,
	[SIL] [bit] NULL,
	[KRISTAL] [bit] NULL,
	[LAB_RESUME] [bit] NULL,
 CONSTRAINT [PK_TBL_T_LABS_1] PRIMARY KEY CLUSTERED 
(
	[LABORATORIUM_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SPIRO]    Script Date: 01/23/2014 20:57:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SPIRO](
	[SPIRO_ID] [int] IDENTITY(1,1) NOT NULL,
	[LAB_ID] [int] NOT NULL,
	[SPIROMETRY_RESULT] [varchar](30) NULL,
	[SPIROMETRY_FILE_NAME] [varchar](50) NULL,
 CONSTRAINT [PK_TBL_T_SPIRO_1] PRIMARY KEY CLUSTERED 
(
	[SPIRO_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RONTGEN]    Script Date: 01/23/2014 20:57:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RONTGEN](
	[RONTGEN_ID] [int] IDENTITY(1,1) NOT NULL,
	[LAB_ID] [int] NOT NULL,
	[RONTGEN_RESULT] [varchar](30) NULL,
	[RONTGEN_FILE_NAME] [varchar](50) NULL,
 CONSTRAINT [PK_TBL_T_RONTGEN_1] PRIMARY KEY CLUSTERED 
(
	[RONTGEN_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EKG]    Script Date: 01/23/2014 20:57:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EKG](
	[EKG_ID] [int] NOT NULL,
	[LAB_ID] [int] NOT NULL,
	[EKG_RESULT] [varchar](30) NULL,
	[EKG_FILE_NAME] [varchar](50) NULL,
 CONSTRAINT [PK_TBL_T_EKG_1] PRIMARY KEY CLUSTERED 
(
	[EKG_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AUDIO]    Script Date: 01/23/2014 20:57:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AUDIO](
	[AUDIO_ID] [int] IDENTITY(1,1) NOT NULL,
	[LAB_ID] [int] NULL,
	[AUDIOMETRY_RESULT] [varchar](30) NULL,
	[AUDIOMETRY_FILE_NAME] [varchar](50) NULL,
 CONSTRAINT [PK_TBL_T_AUDIO] PRIMARY KEY CLUSTERED 
(
	[AUDIO_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FISIK]    Script Date: 01/23/2014 20:57:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FISIK](
	[FISIK_ID] [int] IDENTITY(1,1) NOT NULL,
	[LAB_ID] [int] NOT NULL,
	[TEMPAT_KERJA] [varchar](1) NULL,
	[POSISI_KERJA] [varchar](1) NULL,
	[METODE_KERJA] [varchar](1) NULL,
	[RIWAYAT_ASMA] [bit] NULL,
	[RIWAYAT_EPILEPSI] [bit] NULL,
	[RIWAYAT_LEPRA] [bit] NULL,
	[RIWAYAT_ANSIETAS] [bit] NULL,
	[RIWAYAT_DEPRESI] [bit] NULL,
	[RIWAYAT_DM] [bit] NULL,
	[RIWAYAT_PROSTAT] [bit] NULL,
	[RIWAYAT_HEMOROID] [bit] NULL,
	[RIWAYAT_KELAMIN] [bit] NULL,
	[VAKSIN_HEPATITIS] [bit] NULL,
	[RIWAYAT_OPERASI] [bit] NULL,
	[RIWAYAT_KECELAKAAN_KERJA] [bit] NULL,
	[SUMMARY_RIWAYAT_PENYAKIT] [varchar](max) NULL,
	[KEBIASAAN_ALKOHOL] [varchar](1) NULL,
	[KEBIASAAN_OLAHRAGA] [varchar](1) NULL,
	[KEBIASAAN_MEROKOK] [varchar](1) NULL,
	[KEBIASAAN_NARKOBA] [varchar](1) NULL,
	[TINGGI_BADAN] [varchar](5) NULL,
	[BERAT_BADAN] [varchar](5) NULL,
	[LKR_DD] [int] NULL,
	[LKR_PRT] [int] NULL,
	[T_SISTOL] [int] NULL,
	[T_DIASTOL] [int] NULL,
	[NADI] [int] NULL,
	[RESPIRASI] [int] NULL,
	[VISUS_JAUH_TANPA_KACMATA] [varchar](6) NULL,
	[VISUS_JAUH_DENGAN] [varchar](6) NULL,
	[VISUS_DEKAT_TANPA_KACAMATA] [varchar](6) NULL,
	[VISUS_DEKAT_DENGAN_KACAMATA] [varchar](6) NULL,
	[BUTA_WARNA] [bit] NULL,
	[ANAMNESA_KELUHAN_UTAMA] [varchar](30) NULL,
	[ANAMNESA_KELUHAN_TAMBAHAN] [varchar](30) NULL,
	[MATA] [varchar](30) NULL,
	[TELINGA] [varchar](30) NULL,
	[HIDUNG] [varchar](30) NULL,
	[MULUT] [varchar](30) NULL,
	[FARING] [varchar](30) NULL,
	[TONSIL] [varchar](30) NULL,
	[THYROID] [varchar](30) NULL,
	[LYMP_NODE] [varchar](30) NULL,
	[DADA] [varchar](30) NULL,
	[PERUT] [varchar](30) NULL,
	[HERNIA] [varchar](30) NULL,
	[ANUS] [varchar](30) NULL,
	[PAYUDARA] [varchar](30) NULL,
	[VARICHES_HEMOROID] [varchar](30) NULL,
	[KULIT_KUKU] [varchar](30) NULL,
	[PULMO_SIST_RESPIRASI] [varchar](30) NULL,
	[COR_SIST_CV] [varchar](30) NULL,
	[HATI_LIEN_GIT] [varchar](30) NULL,
	[SUG] [varchar](30) NULL,
	[SIST_REPROD] [varchar](30) NULL,
	[EXTRIMITAS_ATAS] [varchar](30) NULL,
	[EXTRIMITAS_BAWAH] [varchar](30) NULL,
	[OTOT_TULANG_LAIN] [varchar](30) NULL,
	[BAU_MULUT] [bit] NULL,
	[KARIES] [int] NULL,
	[TANGGAL] [int] NULL,
	[SISA_AKAR] [int] NULL,
	[REFLEX_PATOLOGIS] [bit] NULL,
	[PARESTESI] [bit] NULL,
	[PARESE] [bit] NULL,
	[LASSAGUESIGN] [bit] NULL,
	[PATRICK_SIGN] [bit] NULL,
	[CONTRA_PATRICK_SIGN] [bit] NULL,
	[SUMMARY_KESIMPULAN] [varchar](max) NULL,
 CONSTRAINT [PK_TBL_T_FISIK_1] PRIMARY KEY CLUSTERED 
(
	[FISIK_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [FK_TBL_R_USER_TBL_R_ROLE]    Script Date: 01/23/2014 20:57:59 ******/
ALTER TABLE [dbo].[USER]  WITH CHECK ADD  CONSTRAINT [FK_TBL_R_USER_TBL_R_ROLE] FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[ROLE] ([ROLE_ID])
GO
ALTER TABLE [dbo].[USER] CHECK CONSTRAINT [FK_TBL_R_USER_TBL_R_ROLE]
GO
/****** Object:  ForeignKey [FK_TBL_R_USER_TBL_R_ULTRAEMPLOYEE]    Script Date: 01/23/2014 20:57:59 ******/
ALTER TABLE [dbo].[USER]  WITH CHECK ADD  CONSTRAINT [FK_TBL_R_USER_TBL_R_ULTRAEMPLOYEE] FOREIGN KEY([NIK])
REFERENCES [dbo].[ULTRAEMPLOYEE] ([NIK])
GO
ALTER TABLE [dbo].[USER] CHECK CONSTRAINT [FK_TBL_R_USER_TBL_R_ULTRAEMPLOYEE]
GO
/****** Object:  ForeignKey [FK_TBL_R_FO_TBL_R_COMPANY]    Script Date: 01/23/2014 20:57:59 ******/
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_TBL_R_FO_TBL_R_COMPANY] FOREIGN KEY([COMPANY_ID])
REFERENCES [dbo].[COMPANY] ([COMPANY_ID])
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [FK_TBL_R_FO_TBL_R_COMPANY]
GO
/****** Object:  ForeignKey [FK_TBL_T_FO_TBL_R_FO]    Script Date: 01/23/2014 20:57:59 ******/
ALTER TABLE [dbo].[FO]  WITH CHECK ADD  CONSTRAINT [FK_TBL_T_FO_TBL_R_FO] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[FO] CHECK CONSTRAINT [FK_TBL_T_FO_TBL_R_FO]
GO
/****** Object:  ForeignKey [FK_TBL_T_LABS_TBL_T_FO]    Script Date: 01/23/2014 20:57:59 ******/
ALTER TABLE [dbo].[LABS]  WITH CHECK ADD  CONSTRAINT [FK_TBL_T_LABS_TBL_T_FO] FOREIGN KEY([LAB_ID])
REFERENCES [dbo].[FO] ([LAB_ID])
GO
ALTER TABLE [dbo].[LABS] CHECK CONSTRAINT [FK_TBL_T_LABS_TBL_T_FO]
GO
/****** Object:  ForeignKey [FK_TBL_T_SPIRO_TBL_T_FO]    Script Date: 01/23/2014 20:57:59 ******/
ALTER TABLE [dbo].[SPIRO]  WITH CHECK ADD  CONSTRAINT [FK_TBL_T_SPIRO_TBL_T_FO] FOREIGN KEY([LAB_ID])
REFERENCES [dbo].[FO] ([LAB_ID])
GO
ALTER TABLE [dbo].[SPIRO] CHECK CONSTRAINT [FK_TBL_T_SPIRO_TBL_T_FO]
GO
/****** Object:  ForeignKey [FK_TBL_T_RONTGEN_TBL_T_FO]    Script Date: 01/23/2014 20:57:59 ******/
ALTER TABLE [dbo].[RONTGEN]  WITH CHECK ADD  CONSTRAINT [FK_TBL_T_RONTGEN_TBL_T_FO] FOREIGN KEY([LAB_ID])
REFERENCES [dbo].[FO] ([LAB_ID])
GO
ALTER TABLE [dbo].[RONTGEN] CHECK CONSTRAINT [FK_TBL_T_RONTGEN_TBL_T_FO]
GO
/****** Object:  ForeignKey [FK_TBL_T_EKG_TBL_T_FO]    Script Date: 01/23/2014 20:57:59 ******/
ALTER TABLE [dbo].[EKG]  WITH CHECK ADD  CONSTRAINT [FK_TBL_T_EKG_TBL_T_FO] FOREIGN KEY([LAB_ID])
REFERENCES [dbo].[FO] ([LAB_ID])
GO
ALTER TABLE [dbo].[EKG] CHECK CONSTRAINT [FK_TBL_T_EKG_TBL_T_FO]
GO
/****** Object:  ForeignKey [FK_TBL_T_AUDIO_TBL_T_FO]    Script Date: 01/23/2014 20:57:59 ******/
ALTER TABLE [dbo].[AUDIO]  WITH CHECK ADD  CONSTRAINT [FK_TBL_T_AUDIO_TBL_T_FO] FOREIGN KEY([LAB_ID])
REFERENCES [dbo].[FO] ([LAB_ID])
GO
ALTER TABLE [dbo].[AUDIO] CHECK CONSTRAINT [FK_TBL_T_AUDIO_TBL_T_FO]
GO
/****** Object:  ForeignKey [FK_TBL_T_FISIK_TBL_T_FO]    Script Date: 01/23/2014 20:57:59 ******/
ALTER TABLE [dbo].[FISIK]  WITH CHECK ADD  CONSTRAINT [FK_TBL_T_FISIK_TBL_T_FO] FOREIGN KEY([LAB_ID])
REFERENCES [dbo].[FO] ([LAB_ID])
GO
ALTER TABLE [dbo].[FISIK] CHECK CONSTRAINT [FK_TBL_T_FISIK_TBL_T_FO]
GO
