$bgcolor: #eeeeee;
$darkred: #B21212;
$yellow: #FFFC19;
$red: #FF0000;
$lightblue: #1485CC;
$darkblue: #0971B2;

$white:#fff;
$black: #000;
$grey: #ccc;
$fontfamily: Source Sans Pro, sans-serif;

$page-width: 1000px;

@mixin centered($width) {width:$width; margin:0 auto; clear:both;}
@mixin rounded($rad) {-moz-border-radius:$rad; -webkit-border-radius:$rad; border-radius:$rad;}
@mixin fake-shadow {border:0; border-top:2px solid #d9d9d9; border-left:2px solid #d7d7d7;}

.content {@include centered($page-width);}
.login-box {border: 3px solid #ecf0f1; background-color: #82b6ea; padding: 2em; @include rounded(10px); @include centered(22em);}